body{
    margin:0px;
    border:0px;
    background-color: #474747;
}

.container{
    height:60vh;
    width:30%;
    background-color:#161616;
    box-shadow: 0px 0px 10px #161616;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    align-items: center;
}

.info{
    height:25%;
    width:100%;
    background-color: #3d3d3d;
}

.play-area{
    width:100%;
    height:75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minefield{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:22em;
    width:22em;
    background-color: green;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    height: 10%;
    width: 10%;
    font-weight: bold;
}

/* light colored cells in the checkerboard */
.light{
    background-color: #1b1a1a;
}

.light:hover{
    background-color: #111010;
    box-shadow: inset 0px 0px 5px #2a4f4a;
}

/* dark colored cells in the checkerboard */
.dark{
    background-color: #262626;
}

.dark:hover{
    background-color: #3b3a3a;
    box-shadow: inset 0px 0px 5px #4390a1;
}

.light.clicked{
    background-color:#877299;
}

.dark.clicked{
    background-color:#5e4e6b;
}

/* custom color for each bomb count */
.cell[count='1']{
    color:#9ef7ba;
}
.cell[count='2']{
    color:#5babec;
}
.cell[count='3']{
    color:#dfcf61;
}
.cell[count='4']{
    color:#e97e1c;
}
.cell[count='5']{
    color:#940404;
}
.cell[count='6']{
    color:#1a0926;
}
/* god save you if you get these */
.cell[count='7']{
    color:#cf37dd;
}
.cell[count='8']{
    color:#ffa4a4;
}

.cell.clicked.bomb{
    color:#1a0926;
    background-color:#752f2f;
    /* box-shadow: inset 0px 0px 5px #ed6464; */
}

/* .bomb{
    background-color:orange;
} */

.flagged{
    font-size: 2em;
    /* important added so that flags don't take style of underlying count and reveal information */
    color:orange !important;
}
